* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/*-------------------GENERAL------------------------ */

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: lightgreen; */
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  padding: 32px;
}

.text--blue {
  color: #6415ff;
}

/*-------------------NAV------------------------ */

nav {
  /* background-color: tomato; */
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
  margin: 0 12px 0 0;
}

.logo p {
  font-size: 24px;
  font-weight: 800;
  color: #243e63;
  cursor: pointer;
}

.logo p:hover {
  color: #6415ff;
}

.nav__links {
  display: flex;
}

.nav__links li a {
  border-bottom: 2px solid #6315ff00;
  margin: 0 24px;
  padding: 0 0 4px 0;
  color: #243e63;
  font-weight: 500;
  font-size: 14px;
  transition: border-bottom 200ms ease-in-out;
}

.nav__links a:hover {
  border-bottom: 2px solid #6415ff;
}

.nav__links .nav__link--primary {
  /* border: 1px solid #6415ff; */
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 100px;
  color: white;
  transition: background-color 300ms ease-in-out;
}

.nav__link--primary:hover {
  background-color: #5b1ed6;
}

.nav__links .nav__link--login {
  margin-left: 48px;
  margin-right: 0;
}

.btn__menu {
  border: none;
  background-color: transparent;
  font-size: 24px;
  display: none;
  cursor: pointer;
}

/*-------------------------HEADER------------------------ */
#landing {
  /* height: 80vh; */
  /* background-color: lightgreen; */
}

.header__wrapper {
  width: 100%;
  display: flex;
  padding: 96px 0;
}

.header__left {
  width: 40%;
}

.header__right {
  width: 60%;
}

.header__left--title {
  font-size: 48px;
}

.header__left--para {
  font-size: 18px;
  margin: 32px 0;
  color: #243e63;
  /* padding: 32px 0; */
}

.input__wrapper {
  position: relative;
}

.header__left--input {
  width: 90%;
  padding: 20px 192px 20px 32px;
  border-radius: 100px;
  border: 1px solid lightgray;
}

.header__left--btn {
  width: 140px;
  padding: 16px 0;
  right: 11%;
  top: 3px;

  border-radius: 100px;
  position: absolute;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: white;
  background-color: #6415ff;
  transition: background-color 200ms ease-in-out;
}

.header__left--btn:hover {
  background-color: #5b1ed6;
}

.header__left--trusted-company {
  width: 100%;
  margin: 80px 0 0 0;
  color: #243e63;
  opacity: 0.5;
}

.header__left--group-imgs img {
  width: 100%;
  margin-top: 16px;
}

.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__right--wrapper {
  width: 100%;
}

.header__right--wrapper img {
  width: 100%;
  height: 100%;
}

/*-------------------------FEATURES------------------------ */
.features-container {
  display: flex;
  flex-direction: column;
}

.features__header {
  /* background-color: lightcyan; */
  text-align: center;
  padding: 16px;
}

.features__header--title,
.features__header--subtitle,
.features__header--para {
  margin-top: 16px;
}

.features__header--subtitle {
  font-size: 40px;
}

.icon__size {
  font-size: 24px;
  color: #6415ff;
  border: 1px solid rgba(0, 0, 0, 0.217);
  padding: 16px;
  height: 60px;
  border-radius: 50%;
}

.feature__description {
  margin: 0 0 16px 16px;
  width: 100%;
  /* background-color: blue; */
}

.feature__description--title,
.feature__description--para {
  margin-bottom: 16px;
}

.feature__description--title {
  font-size: 24px;
}

.feature__description--para {
  color: #243e6393;
}

.features__header--para {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: #243e6393;
}

.features__content {
  /* background-color: lightpink; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
}

.feature {
  width: calc(100% / 3);
  display: flex;
  padding: 16px;
  /* border: 1px solid black; */
}

/*-------------------------QUALITY WORK------------------------ */
.quality-work__container {
  display: flex;
  padding: 96px 0;
}

.quality-work__left {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.quality-work__subtitle {
  font-size: 40px;
  padding: 16px 0;
}

.quality-work__para {
  color: #243e6393;
  padding-bottom: 16px;
  max-width: 90%;
}

.quality-work__btn {
  display: inline-block;
  width: 150px;
  height: 40px;
  background-color: #6415ff;
  border-radius: 100px;
  border: none;
  color: white;
  font-weight: bolder;
}

.quality-work__right {
  width: 45%;
}

.quality-work__wrapper {
  width: 100%;
}

.quality-work__wrapper img {
  width: 100%;

  border: 1px solid rgba(128, 128, 128, 0.252);
}

/*-------------------MEDIA QUERY------------------------ */

/* TABLET */
@media (max-width: 768px) {
  .btn__menu {
    display: block;
  }

  .nav__links {
    display: none;
  }

  .header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__left,
  .header__right {
    width: 70%;
    max-width: 550px;
    /* margin: 0 auto; */
  }

  .header__left--title {
    font-size: 30px;
    text-align: center;
  }

  .header__left--para {
    font-size: 16px;
    text-align: center;
  }

  .input__wrapper {
    text-align: center;
  }

  .header__left--btn {
    right: 6%;
    top: 3px;
  }

  .header__left--trusted-company {
    text-align: center;
    margin: 50px 0;
  }

  .header__left--group-imgs {
    width: 70%;
    margin: auto;
  }

  .feature {
    width: calc(100% / 2);
  }

  .quality-work__container {
    padding: 48px 0;
    display: flex;
    flex-direction: column;
  }

  .quality-work__subtitle {
    font-size: 30px;
  }

  .quality-work__left,
  .quality-work__right {
    min-width: 100%;
  }

  .quality-work__left {
    text-align: center;
    order: 2;
  }

  .quality-work__btn {
    margin: 12px auto;
  }

  .quality-work__right {
    margin-bottom: 32px;
    order: 1;
  }

  .quality-work__para {
    min-width: 100%;
  }
}

/* MOBILE PHONE */
@media (max-width: 550px) {
  .header__left--input {
    padding: 10px 192px 10px 32px;
  }

  .header__wrapper {
    padding: 48px 0;
    justify-content: space-between;
  }

  .input__wrapper {
    position: static;
    display: flex;
    flex-direction: column;
  }

  .header__left--btn,
  .header__left--input {
    display: inline-block;
    position: static;
    width: 100%;
  }

  .header__left--para {
    font-size: 14px;
  }

  .header__left--input {
    margin-bottom: 20px;
  }

  .header__left--btn {
    padding: 10px 0;
  }

  .feature {
    min-width: 100%;
  }

  .features__header--para {
    max-width: 80%;
    font-size: 12px;
  }

  .quality-work__container {
    padding: 48px 0;
    display: flex;
    flex-direction: column;
  }

  .quality-work__subtitle {
    font-size: 30px;
  }

  .quality-work__left,
  .quality-work__right {
    min-width: 100%;
  }

  .quality-work__left {
    text-align: center;
    order: 2;
  }

  .quality-work__btn {
    margin: 12px auto;
  }

  .quality-work__right {
    margin-bottom: 32px;
    order: 1;
  }

  .quality-work__para {
    min-width: 100%;
  }
}
