* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/*-------------------GENERAL------------------------ */

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: lightgreen; */
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  padding: 32px;
}

.text--blue {
  color: #6415ff;
}

.text--gray {
  color: rgba(83, 83, 83, 0.669);
}

.text-gray__transparent {
  color: rgba(95, 95, 95, 0.307);
}

.text__white {
  color: white;
}

.i-color {
  color: rgb(255, 220, 45);
}

/*-------------------NAV------------------------ */

nav {
  /* background-color: tomato; */
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
  margin: 0 12px 0 0;
}

.logo p {
  font-size: 24px;
  font-weight: 800;
  color: #243e63;
  cursor: pointer;
}

.logo p:hover {
  color: #6415ff;
}

.nav__links {
  display: flex;
}

.nav__links li a {
  border-bottom: 2px solid #6315ff00;
  margin: 0 24px;
  padding: 0 0 4px 0;
  color: #243e63;
  font-weight: 500;
  font-size: 14px;
  transition: border-bottom 200ms ease-in-out;
}

.nav__links a:hover {
  border-bottom: 2px solid #6415ff;
}

.nav__links .nav__link--primary {
  /* border: 1px solid #6415ff; */
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 100px;
  color: white;
  transition: background-color 300ms ease-in-out;
}

.nav__link--primary:hover {
  background-color: #5b1ed6;
}

.nav__links .nav__link--login {
  margin-left: 48px;
  margin-right: 0;
}

.btn__menu {
  border: none;
  background-color: transparent;
  font-size: 24px;
  display: none;
  cursor: pointer;
}

/*-------------------------HEADER------------------------ */
#landing {
  /* height: 80vh; */
  /* background-color: lightgreen; */
}

.header__wrapper {
  width: 100%;
  display: flex;
  padding: 96px 0;
}

.header__left {
  width: 40%;
}

.header__right {
  width: 60%;
}

.header__left--title {
  font-size: 48px;
}

.header__left--para {
  font-size: 18px;
  margin: 32px 0;
  color: #243e63;
  /* padding: 32px 0; */
}

.input__wrapper {
  position: relative;
}

.header__left--input {
  width: 90%;
  padding: 20px 192px 20px 32px;
  border-radius: 100px;
  border: 1px solid lightgray;
}

.header__left--btn {
  width: 140px;
  padding: 16px 0;
  right: 11%;
  top: 3px;

  border-radius: 100px;
  position: absolute;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: white;
  background-color: #6415ff;
  transition: background-color 200ms ease-in-out;
}

.header__left--btn:hover {
  background-color: #5b1ed6;
}

.header__left--trusted-company {
  width: 100%;
  margin: 80px 0 0 0;
  color: #243e63;
  opacity: 0.5;
}

.header__left--group-imgs img {
  width: 100%;
  margin-top: 16px;
}

.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__right--wrapper {
  width: 100%;
}

.header__right--wrapper img {
  width: 100%;
  height: 100%;
}

/*-------------------------FEATURES------------------------ */
.features-container {
  display: flex;
  flex-direction: column;
}

.features__header {
  /* background-color: lightcyan; */
  text-align: center;
  padding: 16px;
}

.features__header--title,
.features__header--subtitle,
.features__header--para {
  margin-top: 16px;
}

.features__header--subtitle {
  font-size: 40px;
}

.icon__size {
  font-size: 24px;
  color: #6415ff;
  border: 1px solid rgba(0, 0, 0, 0.217);
  padding: 16px;
  height: 60px;
  border-radius: 50%;
}

.feature__description {
  margin: 0 0 16px 16px;
  width: 100%;
  /* background-color: blue; */
}

.feature__description--title,
.feature__description--para {
  margin-bottom: 16px;
}

.feature__description--title {
  font-size: 24px;
}

.feature__description--para {
  color: #243e6393;
}

.features__header--para {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: #243e6393;
}

.features__content {
  /* background-color: lightpink; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
}

.feature {
  width: calc(100% / 3);
  display: flex;
  padding: 16px;
  /* border: 1px solid black; */
}

/*-------------------------QUALITY WORK------------------------ */
.quality-work__container {
  display: flex;
  padding: 96px 0;
}

.quality-work__left {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.quality-work__subtitle {
  font-size: 40px;
  padding: 16px 0;
}

.quality-work__para {
  color: #243e6393;
  padding-bottom: 16px;
  max-width: 90%;
}

.quality-work__btn {
  display: inline-block;
  width: 150px;
  height: 40px;
  background-color: #6415ff;
  border-radius: 100px;
  border: none;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.quality-work__right {
  width: 45%;
}

.quality-work__wrapper {
  width: 100%;
}

.quality-work__wrapper img {
  width: 100%;

  border: 1px solid rgba(128, 128, 128, 0.252);
}

/*-------------------------STEPS------------------------ */

.steps__container {
  display: flex;
  padding: 96px 0;
}

.steps__left {
  width: 45%;
  /* background-color: lightgreen; */
}

.steps__left--img {
  width: 100%;
}

.steps__right {
  width: 55%;
  /* background-color: lightblue; */
}

.steps__right--wrapper {
  width: 80%;
  margin: 0 0px 0 auto;
}

.steps__right--subtitle {
  padding: 16px 0;
  font-size: 40px;
}

.steps__right--content {
  display: flex;
  margin-bottom: 24px;
}

.steps__right--content h4 {
  font-size: 20px;
  font-weight: 500;
}

.steps__right--sub-content {
  max-width: 60%;
  margin-left: 24px;
}

.steps__right-maxw {
  margin-top: 8px;
}

.steps__right--content h1 {
  font-size: 36px;
}

/*-------------------------VALUES------------------------ */

.values__container {
  display: flex;
}

.values__left {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.values__left--title {
  margin: 24px 0;
}

.values__left--para {
  width: 80%;
}

.values__left--subtitle {
  font-size: 40px;
}

.values__left--container {
  width: 80%;
}

.values__left--para {
  margin: 24px 0;
  font-size: 18px;
}

.values__right {
  width: 45%;
}

.values__right--wrapper,
.values__right--img {
  width: 100%;
}

.values__left--container {
  display: flex;
}

.icon__size--values {
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 6px;
  border-radius: 50%;
}

.icon__dollar {
  background-color: lightgreen;
}

.icon__luggage {
  background-color: rgba(255, 99, 71, 0.613);
}

.affordable,
.professionalism {
  font-weight: bolder;
  font-size: 20px;
}

.affordable__para,
.professional__para {
  margin-top: 16px;
}

.values__btn {
  display: inline-block;
  width: 150px;
  height: 40px;
  background-color: #6415ff;
  border-radius: 100px;
  border: none;
  color: white;
  font-weight: bolder;
  margin: 48px 0;
  cursor: pointer;
}

/*-------------------------PRICING------------------------ */
.pricing__container {
  padding: 96px 0;
}

.pricing__header {
  text-align: center;
}

.pricing__header--subtitle {
  padding: 24px 0;
  font-size: 40px;
}

.pricing__header--para {
  width: 50%;
  margin: 0 auto;
}

.pricing__cards--container {
  margin: 32px 0;
  display: flex;

  /* justify-content: space-between; */
  justify-content: center;
  /* background-color: lightcyan; */
}

.pricing__cards {
  border-radius: 10px;
  border: 1px solid rgba(220, 220, 220, 0.972);
  width: 30%;
  margin: 16px 32px 0 0;
}

.green__border {
  border-top: 7px solid rgb(56, 178, 172);
}
.tomato__border {
  border-top: 7px solid rgb(245, 101, 101);
}

.blue__background {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.pricing__cards--title,
.pricing__cards--content,
.pricing__cards--btn-wrapper {
  padding: 32px 0;
  text-align: center;
}

.pricing__cards--title > h1:nth-child(2) {
  font-size: 48px;
  margin: 16px 0;
}

.pricing__cards--content {
  font-size: 16px;
}

.para-spacing {
  margin: 20px 0;
}

.pricing__cards--title,
.pricing__cards--content {
  border-bottom: 2px solid rgba(189, 189, 189, 0.497);
}

.pricing__cards--btn {
  padding: 16px 64px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.pricing__cards--btn:hover {
  transform: translate(3px, -3px);
  box-shadow: 0px 3px 7px rgb(129, 129, 129);
}

.pricing__btn--gradient-green {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.pricing__btn--gradient-tomato {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}
.pricing__text-white {
  color: white;
  font-weight: 700;
}

.pricing__font-weight {
  font-weight: 700;
}

/*-------------------------TESTIMONIALS------------------------ */

.testimonials__container {
  display: flex;
  justify-content: space-between;
}

.testimonials__left {
  width: 40%;
  display: flex;
  align-items: center;
}

.testimonials__img--wrapper {
  width: 100%;
  /* background-color: red; */
}

.testimonials__img {
  width: 100%;
}

.testimonials__right {
  width: 50%;
}

.testimonials__right--slider {
  display: flex;
  /* overflow: hidden; */

  background-color: lightblue;
}

.testimonials__right--one {
  min-width: 100%;
}

.testimonials__right--first {
  min-width: 100%;
}

.testimonials__right--star {
  margin-bottom: 8px;
}

.testimonials__right--title {
  font-size: 20px;
}

.testimonials__right--para-david {
  margin: 16px 0;
}

.testimonials__right--subtitle {
  margin: 16px 0;
  font-size: 40px;
}

.testimonials__right--para {
  margin: 24px 0 32px 0;
  font-size: 18px;
}

.testimonials__right--person {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials__person--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

.testimonials__right--img-wrapper {
  width: 70px;
  height: 70px;
}

.testimonials__right--img {
  width: 100%;
  border-radius: 50%;
}

.testimonials__btn {
  width: 42px;
  height: 43px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

/*-------------------MEDIA QUERY------------------------ */

/* TABLET */
@media (max-width: 768px) {
  .btn__menu {
    display: block;
  }

  .nav__links {
    display: none;
  }

  .header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__left,
  .header__right {
    width: 70%;
    max-width: 550px;
    /* margin: 0 auto; */
  }

  .header__left--title {
    font-size: 30px;
    text-align: center;
  }

  .header__left--para {
    font-size: 16px;
    text-align: center;
  }

  .input__wrapper {
    text-align: center;
  }

  .header__left--btn {
    right: 6%;
    top: 3px;
  }

  .header__left--trusted-company {
    text-align: center;
    margin: 50px 0;
  }

  .header__left--group-imgs {
    width: 70%;
    margin: auto;
  }

  .feature {
    width: calc(100% / 2);
  }

  .quality-work__container {
    padding: 48px 0;
    display: flex;
    flex-direction: column;
  }

  .quality-work__subtitle {
    font-size: 30px;
  }

  .quality-work__left,
  .quality-work__right {
    min-width: 100%;
  }

  .quality-work__left {
    text-align: center;
    order: 2;
  }

  .quality-work__btn {
    margin: 12px auto;
  }

  .quality-work__right {
    margin-bottom: 32px;
    order: 1;
  }

  .quality-work__para {
    min-width: 100%;
  }

  .steps__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .steps__left,
  .steps__right {
    min-width: 50%;
  }

  .steps__right {
    margin: 72px 0;
  }
  .steps__right--wrapper {
    margin: 0 auto;
    text-align: center;
  }

  .steps__right--sub-content {
    margin: 16px 0;
    min-width: 100%;
    font-size: 16px;
    text-align: center;
  }

  .steps__right--content {
    flex-direction: column;
  }

  .values__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .values__left,
  .values__right {
    width: 100%;
  }

  .values__left {
    order: 2;
  }

  .values__right {
    order: 1;
  }

  .values__left--title,
  .values__left--subtitle,
  .values__left--para {
    text-align: center;
    width: 100%;
  }

  .values__left--subtitle {
    font-size: 30px;
  }

  .values__left--para {
    font-size: 16px;
    width: 70%;
    margin: 36px auto;
  }

  .dollar__content--first,
  .luggage__content--second {
    margin: 28px 0;
  }

  .values__left--container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    text-align: center;
  }

  .values__btn {
    margin-right: auto;
    margin-left: auto;
  }

  .pricing__cards--container {
    display: flex;
    flex-direction: column;
  }

  .pricing__cards {
    width: 60%;
    margin: 24px auto;
  }

  .pricing__header--subtitle {
    font-size: 32px;
  }

  .pricing__header--para {
    font-size: 14px;
    width: 100%;
  }
}

/* MOBILE PHONE */
@media (max-width: 550px) {
  .header__left--input {
    padding: 10px 192px 10px 32px;
  }

  .header__wrapper {
    padding: 48px 0;
    justify-content: space-between;
  }

  .input__wrapper {
    position: static;
    display: flex;
    flex-direction: column;
  }

  .header__left--btn,
  .header__left--input {
    display: inline-block;
    position: static;
    width: 100%;
  }

  .header__left--para {
    font-size: 14px;
  }

  .header__left--input {
    margin-bottom: 20px;
  }

  .header__left--btn {
    padding: 10px 0;
  }

  .feature {
    min-width: 100%;
  }

  .features__header--para {
    max-width: 80%;
    font-size: 12px;
  }

  .quality-work__container {
    padding: 48px 0;
    display: flex;
    flex-direction: column;
  }

  .quality-work__subtitle {
    font-size: 30px;
  }

  .quality-work__left,
  .quality-work__right {
    min-width: 100%;
  }

  .quality-work__left {
    text-align: center;
    order: 2;
  }

  .quality-work__btn {
    margin: 12px auto;
    /* cursor: pointer; */
  }

  .quality-work__right {
    margin-bottom: 32px;
    order: 1;
  }

  .quality-work__para {
    min-width: 100%;
  }

  .steps__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .steps__left,
  .steps__right {
    min-width: 100%;
  }

  .steps__right {
    margin: 72px 0;
  }
  .steps__right--wrapper {
    margin: 0 auto;
    text-align: center;
  }

  .steps__right--sub-content {
    margin: 16px 0;
    min-width: 100%;
    font-size: 14px;
    text-align: center;
  }

  .steps__right--content {
    flex-direction: column;
  }

  .pricing__cards--container {
    display: flex;
    flex-direction: column;
  }

  .pricing__cards {
    width: 70%;
    margin: 24px auto;
  }

  .pricing__header--subtitle {
    font-size: 32px;
  }

  .pricing__header--para {
    font-size: 14px;
    width: 100%;
  }
}
